.footer-container {
  min-height: 40px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  letter-spacing: 1px;
  line-height: 1.6;
  padding: 5px;
}
