.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  & > button {
    padding: 0;
    margin: 1px;
    font-size: 1.5em;
    background: none;
    border: none;
    color: #ffae00;
    cursor: pointer;
    transition: color 0.3s ease;
    &:last-child {
      color: #666;
    }

    &:focus {
      outline: none;
    }
  }
}
