body.light-mode {
  .hamburger-menu {
    .bar-container {
      div {
        background-color: black;
      }
    }
  }
}

body.dark-mode {
  .hamburger-menu {
    .bar-container {
      div {
        background-color: #eeeeee;
      }
    }
  }
}


.hamburger-menu {
  margin-right: 15px;
  :hover{
    cursor: pointer;
  }
  .bar-container {
    
    div {
      width: 35px;
      height: 2px;
      margin: 8px 0;
      border-radius: 1px;
    }
  }
}
