.section {
  .section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-buttons-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      height: 50px;
    }
  }
}
