//Header

header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        .logo {
            a {
                font-size: x-large;
                font-weight: 800;
                text-decoration: none;
                letter-spacing: 1.8px;
            }
        }
        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                }
            }
        }
    }
}