//Header

header {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  height: 80px;
  @media (max-height: 415px), (max-width: 515px) {
    height: 50px;
  }
  @media only screen and (max-height: 415px) and (max-width: 1024px) and (orientation: landscape) {
    height: 50px;
  }
  // width: 100%;
  // min-width: 300px;
  top: 0px;
  position: sticky;
  z-index: 10;
  box-shadow: 0px 3px 5px rgb(189, 189, 189);
  background-color: #eeeeee;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    @media (max-height: 415px), (max-width: 515px) {
      height: 50px;
    }
    @media only screen and (max-height: 415px) and (max-width: 1024px) and (orientation: landscape) {
      height: 50px;
    }
    .logo {
      a {
        font-size: x-large;
        font-weight: 800;
        text-decoration: none;
        letter-spacing: 2px;
        color: black;
        padding-left: 15px;
      }
    }
    .menu-container {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        margin: 0 15px;
        text-decoration: none;
        letter-spacing: 1.7px;
        color: black;
      }
      .button {
        margin-right: 20px;
      }
    }
  }
}

.ham {
  height: 80px;
  @media (max-height: 415px), (max-width: 515px) {
    height: 50px;
  }
  @media only screen and (max-height: 415px) and (max-width: 1024px) and (orientation: landscape) {
    height: 50px;
  }
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  @media only screen and (min-width: 631px) {
    display: none;
  }
}
