//Header

header {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  height: 80px;
  @media (max-height: 414px), (max-width: 500px) {
    height: 50px;
  }
  @media only screen and (max-height: 400px) and (max-width: 1024px) and (orientation: landscape) {
    height: 50px;
  }
  // width: 100%;
  // min-width: 300px;
  top: 0px;
  position: sticky;
  z-index: 10;
  box-shadow: 0px 0px 10px grey;
  background-color: whitesmoke;
  .inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    @media (max-height: 414px), (max-width: 500px) {
      height: 50px;
    }
    @media only screen and (max-height: 400px) and (max-width: 1024px) and (orientation: landscape) {
      height: 50px;
    }
    .logo {
      a {
        font-size: x-large;
        font-weight: 800;
        text-decoration: none;
        letter-spacing: 2px;
        color: black;
        padding-left: 15px;
      }
    }
  }
}

.ham {
  height: 80px;
  @media (max-height: 414px), (max-width: 500px) {
    height: 50px;
  }
  @media only screen and (max-height: 414px) and (max-width: 1024px) and (orientation: landscape) {
    height: 50px;
  }
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  @media only screen and (min-width: 501px) {
    display: none;
  }
}
