.landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding-top: 80px;
    h3 {
    font-family: 'Courier New', Courier, monospace;
      margin: 0px;
    }
    h1 {
      margin: 10px 0px;
    }
}
