.landing {
  margin: 0px 30px;
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  // padding-top: 80px;
  .landing-content-container {
    // min-height: 400px;
    .greetings {
      font-family: "Courier New", Courier, monospace;
      font-size: 1.5em;
      font-weight: bold;
      margin: 0px;
      color: #001d5a;
    }
    h1 {
      margin: 10px 0px;
      font-size: 8em;
      @media (max-height: 1024px), (max-width: 1024px) {
        font-size: 5em;
      }
      @media (max-height: 415px), (max-width: 515px) {
        font-size: 3em;
      }
      @media only screen and (max-height: 415px) and (max-width: 1024px) and (orientation: landscape) {
        font-size: 3em;
      }
      font-weight: 700;
    }
    p {
      line-height: normal;
    }
    .button {
      padding: 13px;
      color: inherit;
      font-size: 1.5em;
      @media (max-height: 1024px), (max-width: 1024px) {
        font-size: 1.25em;
      }
      @media (max-height: 415px), (max-width: 515px) {
        font-size: 1em;
      }
      @media only screen and (max-height: 415px) and (max-width: 1024px) and (orientation: landscape) {
        font-size: 1em;
      }
      // font-weight: 200;
      text-decoration: none;
    }
  }
}

.bg-name {
  z-index: -10;
  height: inherit;
  min-height: 400px;
  width: 55%;
  position: absolute;
  top: 0;
  left: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50em;
  @media (max-height: 1024px), (max-width: 1024px) {
    font-size: 30em;
  }
  @media (max-height: 415px), (max-width: 515px) {
    font-size: 20em;
  }
  @media only screen and (max-height: 415px) and (max-width: 1024px) and (orientation: landscape) {
    font-size: 20em;
  }
  font-weight: 900;
  color: #00000018;
  p {
    margin: 0;
    overflow-x: hidden;
  }
}
