body.light-mode {
  .landing {
    .greetings {
      color: #001d5a;
    }
  }
  .scroll-down {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }
  // .landing-outer-container {
  //   background-image: linear-gradient(to right, #eaeef3, #b0c6d6);
  //   transition: background-image 0.5s ease-in-out;
  // }
}

body.dark-mode {
  .landing {
    .greetings {
      color: #d3e2ff;
    }
  }
  .scroll-down {
    border-bottom: 2px solid #eeeeee;
    border-right: 2px solid #eeeeee;
  }
  .landing-outer-container::before {
    opacity: 1;
  }
}


.landing {
  margin: 0px 30px;
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  .landing-content-container {
    .greetings {
      font-family: "Courier New", Courier, monospace;
      font-size: 1.4em;
      font-weight: bold;
      margin: 0px;
      transition: color 1s ease-in-out;
    }
    h1 {
      margin: 10px 0px;
      font-size: 8em;
      @media (max-height: 1024px), (max-width: 1024px) {
        font-size: 5em;
      }
      @media (max-height: 615px), (max-width: 515px) {
        font-size: 3em;
      }
      @media only screen and (max-height: 615px) and (max-width: 1024px) and (orientation: landscape) {
        font-size: 3em;
      }
      font-weight: 700;
    }
    p {
      line-height: 0.5;
    }
    .button {
      padding: 13px;
      font-size: 1.5em;
      @media (max-height: 1024px), (max-width: 1024px) {
        font-size: 1.25em;
      }
      @media (max-height: 615px), (max-width: 515px) {
        font-size: 1em;
      }
      @media only screen and (max-height: 615px) and (max-width: 1024px) and (orientation: landscape) {
        padding: 8px;
        font-size: 1em;
      }
      text-decoration: none;
      // transition: all 1s ease-in-out;
    }
  }
}

.bg-name {
  overflow-x: hidden;
  overflow-y: hidden;
  user-select: none;
  z-index: -1;
  height: 100%;
  min-height: 400px;
  width: 55%;
  position: absolute;
  top: 0;
  left: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50em;
  @media (max-height: 1024px), (max-width: 1024px) {
    font-size: 30em;
  }
  @media (max-height: 615px), (max-width: 515px) {
    font-size: 20em;
  }
  @media only screen and (max-height: 615px) and (max-width: 1024px) and (orientation: landscape) {
    font-size: 20em;
  }
  font-weight: 900;
  color: #00000010;
  p {
    margin: 0;
    overflow-x: hidden;
  }
}

.scroll-clickable {
  position: absolute;
  left: calc(50% - 30px);
  bottom: 0;
  width: 60px;
  height: 10vh;
  min-height: 40px;
  max-height: 60px;
  text-align: center;
  padding-top: 20px;
}

.scroll-down {
  display: inline-block;
  width: 16px;
  height: 16px;
  transform: translate(-50%, 0%) rotate(45deg);
  animation: fade_move_down 2.5s ease-in-out infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

.landing-container {
  position: relative;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  height: 91vh;
  min-height: 375px;
  margin: 0 auto;
  min-height: 300px;
  max-width: 1020px;
}


.landing-outer-container {
  margin: 0;
  min-height: 350px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 93%, 50% 100%, 0 93%);
  background-image: linear-gradient(to right, #eaeef3, #b0c6d6);
  z-index: 1;
  position: relative;
}


.landing-outer-container-light::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #121d2b, #304553);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}