body.light-mode {
  nav {
    a {
      color: black;
    }
  }
  .current-nav-item {
    a {
      background-color: rgba(32, 32, 32, 0.068);
      transition: background-color 0.15s ease-in-out, color 1s ease-in-out;
    }
  }
}

body.dark-mode {
  nav {
    a {
      color: #eeeeee;
    }
  }
  .current-nav-item {
    a {
      background-color: rgba(0, 0, 0, 0.274);
      transition: background-color 0.15s ease-in-out, color 1s ease-in-out;
    }
  }
}


.navigation {
  @media only screen and (max-width: 690px) {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    a {
      // margin: 0 3px;
      text-decoration: none;
      letter-spacing: 1.7px;
      padding: 9px;
      border-radius: 5px;
    }
    .dark-mode-toggle {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

.navigation-vertical {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  nav,
  ul {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    list-style-type: none;
  }
  ul {
    margin-bottom: 50px;
  }
}