.navigation {
  @media only screen and (max-width: 630px) {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    a {
      margin: 0 3px;
      text-decoration: none;
      letter-spacing: 1.7px;
      color: black;
      padding: 10px;
      border-radius: 5px;
    }
  }
}

.navigation-vertical {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  nav,
  ul {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    ul {
      list-style-type: none;
    }
  }
}

.current-nav-item {
  a {
    background-color: rgb(238, 238, 238);
    transition: background-color 0.3s;
  }
}